div {
    display: flex;
    justify-content: center;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header {
    min-height: 50px;
} 

footer {
    min-height: 40px;
    margin-top: auto;
    background: #f2f2f2;
    height: 40px;
    line-height: 40px;
    min-width: 980px;
    border-top: 1px solid #e4e4e4;
    color: #5f6368;
    font-family: Arial, sans-serif;
    padding-left: 27px;
    font-size: 14px;
}
a {
    padding-left: 27px;
}

input:focus {
    outline: none;
}

.logo { 
    padding-top: 109px;
}

.search {
    width: 527px;
    height: 34px;
    border: none;
    display: flex;
    font-size: 18px;
    font-family: Arial,
    Helvetica,
    sans-serif;
    padding-top: 10;
}

.search-div {
    width: 582px;
    height: 44px;
    margin-top: 20px;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
}
.searchbar {
    color: transparent;
    flex: 100%;
    white-space: pre;
}

.buttons {
    padding: 18px;
}

input[name="google-search"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,
    sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

input[name="lucky-button"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,
    sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.span-right {
    display: inline-block;
    position: relative;
    left: 900px;
}

.symbol {
    width: 33px;
    height: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

svg {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.svg-element {
    filter: invert(38%) sepia(7%) saturate(367%) hue-rotate(174deg) brightness(98%) contrast(91%);
}
